<h1>Listing articles</h1><br>
<button type="button" class="btn btn-default"><%= link_to 'New article', new_article_path %></button><br><br>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="1"></th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%= link_to 'Show', article_path(article), :class => "button" %></button>
          <button type="button" class="btn btn-default">
            <%= link_to 'Edit', edit_article_path(article) %>
          </button>
          <button type="button" class="btn btn-default">
            <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
        </div>

      </tr>
  <% end %>
</table><br>

